body {
  background-color:rgb(250, 245, 235) !important;
  margin: 0;
}

.header {
  background-color: rgb(80, 23, 6);
}

.fs-4 {
  color: rgb(235, 197, 140);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font: weight 500px;
}

.justify-content-between {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(80, 23, 6);
  margin: 10px;
  margin-left: 2%;
  margin-top: -15px;
  margin-right: 2%;
}


.carousel-caption h1 {
  color:rgb(255, 226, 186);
}

.carousel-caption p {
  color:  rgb(255, 226, 186); /* Set the paragraph color */
  font-weight: 500;
}
.carousel-caption a{
    color:rgb(255, 226, 186)}

.carousel {
  width: 100%; /* Ensures it scales with the page width */
  max-width: 2000px; /* Set a max width to keep it smaller on larger screens */
  margin: 0 auto; /* Centers it */

}

.carousel-item img {
  width: 100%; /* Makes images responsive */
  height: 500px; /* Maintains aspect ratio */
   object-fit: cover; /* Crops the image to fit nicely within the height */
}


.btn{
background-color: rgb(80, 23, 6) !important;
outline: rgb(80, 23, 6) !important;

}

.nav-link{
    color: rgba(255, 221, 171, 0.91) !important;
}

.footer{
    background-color:  rgb(80, 23, 6);
   max-height: 300px;
   margin-top: 10px;
}

.footer p{
    color: rgba(255, 221, 171, 0.91) ;
   
}
.footer .nav-link{
    color: rgba(255, 221, 171, 0.91) ;
    
}

.list-group-item{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
}

.dates-times p{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
}

.dates-times h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(80, 23, 6);
}
.dates-times{
    color:#8B5E3C;
    text-align: center;    /* Center-aligns the text inside */

}
.dates-times a{
     color: rgb(255, 226, 186) ;
   
}

.Contact-info p {
    margin: 0;            /* Remove default margins */
    line-height: 1.6;     /* Adjust line spacing to make it look like a block */

  }

  .dates-times .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dates-times svg {
    color:#D4AF37; /* Replace this color with one from your scheme */
background-color: rgb(248, 243, 234) ;
}

.Opening-times, .Contact-info {
    padding: 0;

}
.christmas{
    
    background-image: url('./maps dark.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */

  padding: 20px; /* Adjust padding as needed to create space */
 
}



.card-cover {
    min-height: 75vh; /* Initial height for smaller screens */
    outline: green;
  }

  .card-cover h3{
    color: antiquewhite;
  }